@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&display=swap");

body {
	margin: 0;
	font-family: "Raleway", sans-serif;
	color: #14213d;
	background-color: #e5e5e5;
}

/*Navbar custom styling*/
.navbar {
	background-color: #14213d !important;
}

.navbar .navbar-brand {
	color: #ffffff;
}

.navbar .navbar-brand:hover {
	color: #fca311;
}

.navbar .navbar-nav .nav-link {
	color: #ffffff;
}

.navbar .navbar-nav .nav-link:hover {
	color: #fca311;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

.lightText {
	color: #f6f6f6;
}

.colorBackground {
	background-color: #a47c84;
	border: none;
}

.btn {
	background: #fca311;
	border: none;
	border-radius: 10px;
}

.btn:hover {
	background: #14213d;
	color: #f6f6f6;
}

a,
a:hover {
	color: #f6f6f6;
	text-decoration: none;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.center{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*
* FRONT PAGE
*/

ul {
	display: flex;
	flex-direction: row;
}

li {
	list-style: none;
	padding: 0 15px;
	cursor: pointer;
}

.search {
	height: fit-content;
}

/* 
* CARDS
*/

.card-body {
	padding-top: 0;
}

.card-img-top {
	height: 300px;
	object-fit: cover;
}

.card-title {
	font-family: "Lobster", cursive;
	font-size: 2rem;
}

.card-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 0.8rem;
}

/*
* PRODUCT DETAILS
*/

.smallPic {
	width: 100px;
	height: 100px;
	object-fit: cover;
	display: flex;
	flex-direction: column;
}

/*user -> order -> table styling */

table,
th,
td {
	border: 1px solid black;
}

table {
	width: 100%;
}

td a {
	color: #14213d;
}

td a:hover {
  color: #fca311;
}

/*
* USER PROFILE
*/

.profilePic{
  background-color: #F6F6F6;
  color: #14213D;
  height: 180px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileItems{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

th{
  padding: 5px;
}

.editBtn{
  width: 100px;
}

/*
* CHECKOUT PAGE
*/

.checkoutItem{
  background: #F6F6F6;
  color: #14213D;
}


